.map-container {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

h2 {
    color: #0066cc;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

a {
    color: #0066cc;
    text-decoration: none;
}


.print-button {
    display: inline-block;
    background-color: #535151;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
