body {
    background-color: rgb(163, 161, 161);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}


header {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 1em;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#pictures {
    text-align: center;
}

#pictures img {
    width: 50%;
    margin: 0 10px 10px 0;
    display: inline-block;
}

#video {
    text-align: center;
    margin-bottom: 20px;
}

#video video {
    width: 60%;
    max-width: 100%;
}

#local-area-intro {
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 20px;
}

#local-area-intro h2 {
    text-align: left;
}

#local-area-intro .highlight {
    background-color: rgba(105, 105, 105, 0.459);
    padding: 5px;
    border-radius: 5px;
}

#local-area-intro .welcome-message {
    text-align: left;
}

#slideshow-container {
    max-width: 60%;
    margin: auto;
    text-align: center;
    position: relative;
}


.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: dimgray;
    color: white;
    text-align: center;
    padding: 0.1px;
}